@{
    ViewData["Title"] = "Home";
}
@* ----------------------------Assignments--------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold">Upcomming Assignments</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
                    <th>Assignment</th>
                    <th>Due Date</th>
                    <th>Reminder</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <td>1.</td>
                    <td>Update software</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
                <tr class="align-middle">
                    <td>2.</td>
                    <td>Clean database</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-warning">70%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
                <tr class="align-middle">
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-primary">30%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
                <tr class="align-middle">
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-success">90%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@* --------------------------Exams----------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold">Upcomming Exams</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
                    <th>Exam</th>
                    <th>Due Date</th>
                    <th>Reminder</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <td>1.</td>
                    <td>Update software</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
                <tr class="align-middle">
                    <td>2.</td>
                    <td>Clean database</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-warning">70%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
                <tr class="align-middle">
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-primary">30%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
                <tr class="align-middle">
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-success">90%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                    <td><span class="badge text-bg-danger">55%</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->